body > .left-container {
    width: 20%;  
    height: 100%;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;  
}

.profile-picture {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--second-color);
}
.bx.bxl-facebook-square{
    color:#1877F2;
    transition: 0.3s ease;
}
.bx.bxl-whatsapp{
    color:#25D366;
    transition: 0.3s ease;
}
.bx.bxl-instagram{
    color:#E4405F;
    transform: scale(1.2);
}
.bx.bxl-facebook-square:hover{
    color:#4293ff;
    transform: scale(1.2);
}
.bx.bxl-whatsapp:hover{
    color:#6de293 ;
     transform: scale(1.2);
}
.bx.bxl-instagram:hover{
    color:#ff7391;
     transform: scale(1.2);
}
.container-img-profile {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.container-name-profile {
    width: 100%;
    padding: 0.5rem;
}

h1.name-profile {
    color: var(--first-color-text);
    font-size: 2; 
    width: 100%;
    word-break: normal;
    white-space: pre-wrap;
    text-align: center;
    padding: 1.5rem;
}

.container-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.container-logo>img.logo{
    width: 100%;
    max-width: 200px;
    height: auto;
}

.navbar-social-networks ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0;
}

.navbar-social-networks li {
    list-style: none;
    display: flex;
}

.navbar-social-networks i {
    font-size: 1.5rem;
}

.navbar-profile{
    list-style: none;
    text-align: center;
}

.navbar-profile>ul{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0;
}

.navbar-profile>ul>li>a{
    color: white;
    font-size: 1.5rem;
}

